/**A litle of styles for the page :D**/
body {
  background-color: #f5f1e5;
  font-family: system-ui;
  color: #575859;
  padding: 0%;
  margin: 0%;
}

#block-glossary-branding {
  height: 100%;
  padding: 2%;
}

#block-glossary-branding a img {
  width: 5%;
}

#block-glossary-branding a {
  font-size: 40px;
  text-decoration: none;
  color: #575859;
  text-transform: uppercase;
}

/* Adding styles for drupal messages */
div[data-drupal-messages] {
  text-align: center;
  font-size: 40px;
  padding: 10px;
  font-weight: bold;
  color: #0ddf3a;
}

.layout-content {
  text-align: center;
  background-color: #ffffff;
  box-shadow: 10px 10px 20px 4px #000;
  padding: 2%;
  margin: 2%;
  border-radius: 2rem;
}

#edit-title,
#edit-description,
#edit-keys {
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 20px;
  box-sizing: border-box;
  color: #2c3e50;
  font-size: 16px;
}

#edit-submit,
#edit-submit--2 {
  width: 100px;
  background: #0d7978;
  font-weight: bold;
  font-size: 18px;
  color: white;
  border: 0 none;
  border-radius: 25px;
  cursor: pointer;
  padding: 10px 5px;
  margin: 10px 5px;
}

#edit-submit:hover,
#edit-submit--2:hover {
  background-color: #0b5f5e;
  font-size: 20px;
  padding: 1%;
}

.layout-sidebar-first {
  background-color: #000;
  color: #fff;
  padding: 2%;
}

.layout-sidebar-first a {
  text-decoration: none;
  color: #fff;
  font-size: 16px;
}

/**The styles of the tooltip**/
.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px solid #5ea6a5;
}

.tooltip a {
  text-decoration: none;
  color: #575859;
  font-weight: 400;
  background-color: #e7f2f2;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 250px;
  background-color: #0d7978;
  box-shadow: -3px 5px 10px 0px #000;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 10px;
  position: absolute;
  z-index: 1;
  bottom: 150%;
  left: -3.1rem;
  margin-left: -60px;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #0d7978 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

.read-more {
  font-weight: 700;
  white-space: pre;
  margin-right: 60%;
}
